<link rel="stylesheet" href="/css/calendario.css">
<div class="calendario">
    <div class="datas">
        <div class="dia tooltipped" data-tooltip="Domingo">D</div>
        <div class="dia tooltipped" data-tooltip="Segunda">S</div>
        <div class="dia tooltipped" data-tooltip="Terça">T</div>
        <div class="dia tooltipped" data-tooltip="Quarta">Q</div>
        <div class="dia tooltipped" data-tooltip="Quinta">Q</div>
        <div class="dia tooltipped" data-tooltip="Sexta">S</div>
        <div class="dia tooltipped" data-tooltip="Sabado">S</div>
        <div class="numero"></div>
        <div class="numero"></div>
        <div class="numero"></div>
        <div class="numero"></div>
        <div class="numero"></div>
        <div class="numero">1</div>
        <div class="numero active tooltipped" data-tooltip="Inscrições abertas">2</div>
        <div class="numero">3</div>
        <div class="numero evento tooltipped" data-tooltip="Primeira fase de eliminação">4</div>
        <div class="numero">5</div>
        <div class="numero">6</div>
        <div class="numero">7</div>
        <div class="numero">8</div>
        <div class="numero">9</div>
        <div class="numero">10</div>
        <div class="numero">11</div>
        <div class="numero">12</div>
        <div class="numero">13</div>
        <div class="numero">14</div>
        <div class="numero">15</div>
        <div class="numero">16</div>
        <div class="numero">17</div>
        <div class="numero">18</div>
        <div class="numero">19</div>
        <div class="numero">20</div>
        <div class="numero">21</div>
        <div class="numero">22</div>
        <div class="numero">23</div>
        <div class="numero">24</div>
        <div class="numero">25</div>
        <div class="numero">26</div>
        <div class="numero">27</div>
        <div class="numero">28</div>
        <div class="numero">29</div>
        <div class="numero">30</div>
        <div class="numero">31</div>
    </div>
</div>